/* Write all your custom CSS below this line  */


main{
    background:#416e65;
    
}

body {
    margin: 0;
}

nav {
    background:#416e65;
    text-align: center;
    padding: 20px;
}

h1{
margin: 0px;
font-family: Impact;
color:#d8e8e4;
background:  rgb(22, 73, 55);
padding: 40px 60px 60px 40px;
text-align: center;
}

h2{
    margin: 0px;
font-family:'Franklin Gothic Medium' ;
color:#b3d33f;
background:  rgb(22, 73, 55);
padding: 10px 10px 10px 10px;
text-align: center;
text-shadow:2px 2px rgb(214, 97, 43)
}

a{
    color:pink;
    font-family: sans-serif;
    margin: 0px
}
h3 {
    color:#b3d33f;    
    background:rgba(70, 153, 110, 0.767);
    text-shadow:2px 2px rgb(214, 97, 43);
    padding: 10px;
    margin: 0px; 
    



}
section{
    background:  rgb(61, 167, 144);
    margin: 0px 100px 0px 100px ;
    
}
p{
    color: white;
    font-family: monospace;
    padding: 20px 20px 20px 20px;
}


img{
    width: 621px;
    height: 416px;
    padding-left: 390px;
    padding-bottom: 20px;
}

footer{
text-align: center;
    color: white;
    background: rgb(22, 73, 55);
    padding: 0px 40px 40px 40px;

}   
